.price__title {
  margin: 0;
  background-color: @primary;
  color: @white;
  .font(@imperial, 30px, 85px, 400);
  vertical-align: middle;
  text-align: center;
}

.table {
  margin: 0;
  display: table;
  border-collapse: collapse;
}

.table-header-group {
  display: table-header-group;

  .table-cell {
  height: 100px;

  .font(@imperial, 24px, 24px, 400);
  background-color: @secondary;

  &--central {
    vertical-align: middle;
  }
  }
}

// .central-cell {
//   height: 77px;
//   margin: 0 -2px;
//   border-right: 6px solid @primary;
//   border-left: 6px solid @primary;
// }

.central-cell {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 6px;
    height: 77px;
    position: absolute;
    right: -6px;
    top: -20px;
    background-color: @primary;
  }

  &::before {
    content: '';
    display: block;
    width: 6px;
    height: 77px;
    position: absolute;
    left: -6px;
    top: -20px;
    background-color: @primary;
  }
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  border: 6px solid @secondary;

  .font(@ubuntu, 30px, 30px, 700);
  text-align: center;

  &:first-of-type {
    text-align: right;
    border-left: none;
  }

  &:last-of-type {
    text-align: left;
    border-right: none;
  }

  &--center {
    vertical-align: middle;
  }
}

.table-left-wrap {
  display: flex;
  margin-left: auto;
  min-height: 160px;
  width: 370px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.table-center-wrap {
  vertical-align: middle;
}

.table-right-wrap  {
  display: flex;
  min-height: 160px;
  width: 370px;
  align-items: center;
  justify-content: center;
}
